@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@font-face {
  font-family: Icons;
  src: url('fontello.ttf');
}

* {
  font-family: 'Open Sans', sans-serif;
  padding: 0px;
  margin: 0px;
  overflow-y: overlay;
}

::selection {
    background: rgba(255, 255, 255, 0.3);
}

.icon {
  font-family: 'Icons', 'Open Sans', sans-serif;
}


::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar {
  opacity: 0%;
}

::-webkit-scrollbar-thumb {
  background: #2d2f31;
  opacity: 0.5;
}

::-webkit-scrollbar-track {
  opacity: 0%;
}


p {
  display: inline;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

a {
  text-decoration: none;
  color: #0000ff;
}

li {
  list-style-type: none;
}

body section {
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: transform 200ms;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #36393f;
  color: #d5d0d4;
}

/* body:hover {
  opacity: 100%;
  background: linear-gradient(316deg, #ffc857 0%, #32254a 74%);

} */



code {
  font-family: "Menlo, Consolas", "DejaVu Sans Mono", monospace;
  background: rgba(0, 0, 0, 0.2);
  padding: 1px;
}
