#code-space {
  position: absolute;
  background-color: #2b2b2b;
  left: 0px;
  bottom: 0px;

  overflow-x: hidden;
}


#code-space code {
  box-sizing: border-box;
  display: block;
  resize: none;
  left: 0px;
  width: 100vw;
  height: 26vh;
  min-height: 20vh;
  max-height: 95vh;
  border: none;
  padding-left: 2.5vw;
  padding-right: 0vw;
  padding-bottom: 18vh;

  word-wrap: normal;
  white-space: pre-wrap;
  overflow-y: overlay;

  font-size: calc(var( --codeFontSize ) / 100);
}

#code-space code::-webkit-scrollbar-thumb {
  border-radius: 30px;
}

#code-space code::-webkit-scrollbar-thumb:hover {
  background: #5e6163;
}


#code-space code:focus {
  outline: none;
}


#code-space #stretch-container {
  height: 2vh;
  width: 100vw;
  cursor: row-resize;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  overflow: hidden;
}


#code-space #control-buttons {
  display: flex;
  height: 3vh;
  background-color: #1d1d1d;
  user-select: none;
  overflow: hidden;
}


#code-space #control-buttons .button {
  display: flex;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;

  cursor: pointer;
  font-size: 0.9em;
  align-items: center;

  min-width: fit-content;
  overflow-y: hidden;
}

#code-space #control-buttons .button:hover {
  filter: brightness(1.5);
  backdrop-filter: brightness(1.5);
}

#code-space #control-buttons .button .icon {
  padding-right: 5px;
}


#code-space #control-buttons .button:active {
  transform: scale(0.95);
}


@media (max-width: 600px) {
  #code-space #control-buttons {
    justify-content: space-around;
    font-size: 0px;
    height: 4vh;
  }

  #code-space #control-buttons .icon {
    font-size: 1rem;
  }

  #code-space code {
    min-height: 36vh;
    white-space: pre;
  }

}
