.console-container {
  box-sizing: border-box;
  height: calc(100% - 15px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.console-input {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  padding: 15px;
  color: #d5d0d4;

  letter-spacing: 1px;
  font-size: 1.1em;
  background: #202020;

  box-sizing: border-box;
  flex-shrink: 0;
  margin-top: 50px;
}

.console-input:placeholder-shown {
  font-style: italic;
}


.console-loggs {
  display: flex;
  flex-direction: column;
  padding: 4px;

  flex-shrink: 0;
}

.console-loggs:empty::after {
  content: "В консоли пусто";

  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;

  color: #909090;
  font-style: italic;
}

.console-msg {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  border-left: 4px solid;
  padding-left: 4px;

  white-space: pre-wrap;
  font-family: "Menlo, Consolas", "DejaVu Sans Mono", monospace;
}

.console-msg:hover {
  background-color: #191920;
}


.console-msg-log {
  border-color: var( --mainThemeColor );
}


.console-msg-warn {
  border-color: #c2c03f;
}

.console-msg-error {
  border-color: #a41010;
}

.console-msg-clean {
  border-color: #909090;

  color: #909090;
  font-style: italic;
}
