:root {
  --arraySize: min( 20vw, 40vh );
  --beamPercent: 0.75;
  --beamWidthMultiplayer: 0.5;
  --slabsHeightMultiplayer: 0.85;
  --arrayMarginMultiplayer: 0.15;
}


#game {
  width: 100vw;
  height: 70vh;

  overflow-x: overlay;
  contain: size;
}

.container {
  position: relative;
  height: 100%;
  min-width: fit-content;
}

#towersList {
  display: flex;

  align-items: center;
  justify-content: center;

  flex-direction: row;
  flex-wrap: nowrap;

  height: 100%;

  overflow-y: hidden;
  min-width: fit-content;
}


.array {
  width:  var( --arraySize );
  height: var( --arraySize );
  margin: calc( var( --arraySize ) * var( --arrayMarginMultiplayer ) );

  border-bottom: dashed #000000;
  border-width: calc( var( --arraySize ) / 20 );

  position: relative;
  transform-origin: center;
  transition: transform 500ms, filter 500ms;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  overflow: hidden;
  contain: size;
}

.array:hover {
  background: rgba(255, 255, 255, 0.03);
}

.array::before {
  content: "";
  display: flex;
  position: absolute;
  background: #000;

  width:  calc( var( --arraySize ) / 10 * var( --beamWidthMultiplayer ));
  height: calc( var( --arraySize ) * var( --beamPercent ) );

  box-shadow: 5px 4px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 15px 15px 0% 0%;
}


.slab {
  background-color: #ffffff;
  width:  calc( var( --my-width,  1 ) * var( --arraySize ) );
  height: calc(var( --arraySize ) * var( --beamPercent ) / var( --my-height, 15 ) * var( --slabsHeightMultiplayer ) );
  transition: transform 200ms, border-radius 200ms;
  z-index: -1;
}

.array .slab:first-child {
  border-radius: 15px 15px 0% 0%;
}




#scoreTitle {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100vw;
  justify-content: center;

  top: 10vh;

  overflow: hidden;
}


#title {
  color: rgba(0, 0, 0, 0.15);

  letter-spacing: 9px;
  font-size: 5.5em;

  white-space: pre-wrap;
  line-height: 90%;
  text-align: center;

  transition: color 1s;
  overflow: hidden;

  user-select: none;
}

#title .small {
  font-size: 0.4em;
}


#flyZone {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: visible;
  contain: paint;
}

#flyZone .slab {
  display: block;
  position: absolute;
  border-radius: 15px 15px 0% 0%;
}



@media (max-width: 600px) {
  :root {
    --arraySize: 22vw;
  }

  #title {
    font-size: 2em;
    letter-spacing: 5px;
  }

  #scoreTitle {
    top: 5vh;
  }
}



.ghost-tower
{
  opacity: 0.5;
}
