#game {
  max-width: 100vw;
  height: 70vh;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;

  overflow-x: overlay;

}


.array {
  min-width: 40vh;
  min-height: 40vh;
  margin-left: 10vh;
  margin-right: 10vh;

  border-bottom: 2vh dashed #000000;
  backdrop-filter: opacity(0);
  transition: transform 300ms;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  overflow: visible;
}

.array:hover {
  background: rgba(255, 255, 255, 0.03);
}

.array::before {
  content: "";
  display: flex;
  position: absolute;
  background: #000;
  width: 2vh;
  height: 30vh;
  left: 19vh;
  top: 10vh;
  box-shadow: 5px 4px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 15px 15px 0% 0%;
}

.array .slab {
  background-color: #ffffff;
  width: 100%;
  height: 15px;
  transition: transform 200ms, border-radius 200ms;
  z-index: -1;
}

.array .slab:first-child {
  border-radius: 15px 15px 0% 0%;
}





#title {
  color: rgba(0, 0, 0, 0.15);
  display: block;
  position: absolute;
  letter-spacing: 9px;
  font-size: 5.5em;
  top: 10vh;
  text-align: center;

  white-space: pre-wrap;
  line-height: 90%;

  transition: color 1s;

  overflow: visible;

  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  user-select: none;
}
