.library-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;

  box-sizing: border-box;
  padding: 10px;
  padding-top: 35px;

  width: 100%;
  max-height: calc(100% - 15px);

  user-select: none;
  contain: style;
  overflow-x: hidden;
}

.library-container * {
  flex-shrink: 0;
}


.library-container hr {
  border: none;
  opacity: 20%;
  background: var(--mainThemeColor);

  width: 70%;
  height: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.library-container::-webkit-scrollbar-thumb,
.library-container *::-webkit-scrollbar-thumb
{
  background-color: rgba(115, 115, 115, 0.5);
  border-radius: 9em;
}

.library-container::-webkit-scrollbar-thumb:hover,
.library-container *::-webkit-scrollbar-thumb:hover
{
  background-color: rgba(115, 115, 115, 1);
}

.library-container::-webkit-scrollbar,
.library-container *::-webkit-scrollbar
{
  width: 5px;
  height: 5px;
}



.library-container span {
  letter-spacing: 0.2px;
  text-align: center;
}


.library-container #codesBlocks {
  width: 100%;
  max-width: 100%;
  position: relative;

  overflow: hidden;
}


.library-container code {
  display: block;
  box-sizing: border-box;
  padding: 20px !important;
  width: 100%;
  white-space: pre;
  margin-bottom: 15px;
  cursor: default;
}

.library-container code * {
  pointer-events: none;
}


.library-container code.dragged {
  opacity: 40%;
  outline: 5px dashed black;
  outline-offset: -5px;
}

.library-container .dragzone {
  opacity: 10%;
  outline: 5px dashed white;
  outline-offset: -5px;
}


.library-container .ephemeral {
  position: absolute;
  width: auto;
  cursor: move;
  pointer-events: none;
}



.library-container .discoveries {
  width: 98%;

}


.library-container .discoveries div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  box-sizing: border-box;
  height: 80px;
  width: 100%;
  margin-bottom: 10px;

  margin-bottom: 10px;
  white-space: pre;
  background: rgba(200, 200, 200, 0.2);



  cursor: pointer;
  transition: transform 300ms;
}


.library-container .discoveries div:active {
  transform: scale(0.9, 1);
}

.library-container .discoveries div:hover {
  border-bottom: 5px black solid;
}


.library-container .discoveries span {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.2em;
}
